<div class="container">
<%# if @memo %>
<form class="form-horizontal" action="/memos<%= "/#{@memo[:id]}" if @memo %>" method="post">
  <div class="form-group">
    <div class="w-50">
      <input type="text" name="title" class="form-control" value="<%= @memo[:title] if @memo %>">
    </div>
  </div>
  <div class="form-group">
    <div class="w-50">
      <textarea name="memo" class="form-control" id="exampleFormControlTextarea1" rows="10"><%= @memo[:memo] if @memo %></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-5">
      <% if @memo %>
        <input type="hidden" name="_method" value="PATCH">
        <button type="submit" class="btn btn-primary">変更</button>
      <% else %>
        <button type="submit" class="btn btn-primary">保存</button>
      <% end %>
    </div>
  </div>
</form>
</div>